
.wrapper{
}

.question{
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-text-primary);
}



.items ~ .items{
  margin-top: var(--spacing-md);
}

.titleWrap{
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: var(--spacing-sm);
}

.icon{
  width: 24px;
  height: 24px;
  color: var(--color-text-light);
}

.title{
  font-weight: 500;
  color: var(--color-text-secondary);
}


