


.wrapper{
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 10px 10px;
  min-width: 64px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.input{
  display: none;
}

.icon{
  color: var(--input-border-color);
}

.label{
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-secondary);
  white-space: nowrap;
}

.wrapper:has(input:checked){
  border-color: var(--color-primary);
}

.wrapper:has(input:checked) .icon{
  color: var(--color-success);
}

.wrapper:has(input:checked) .label{
  color: var(--color-primary);
}

