.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-water-none);
  border-radius: 50%;
  cursor: pointer;
}

.button span{
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('/images/icon/water_none.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.active{
  border-color: var(--color-water-active);
}
.active span{
  background-image: url('/images/icon/water_full.svg');
}

