

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: var(--input-border-radius);
  border-radius: var(--radius-md);

  font-weight: 500;
}


.button:focus{
  outline: 2px solid var(--input-border-color-focus);
}

/* variant */

.primary {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}
.primary:hover {
  background-color: var(--color-primary-hover);
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-inverse);
}
.secondary:hover {
  background-color: var(--color-secondary-hover);
}

.outline {
  background-color: transparent;
  border: 1px solid var(--color-border);
  color: var(--color-text-primary);
}

.text-primary {
  background-color: transparent;
  color: var(--color-primary);
}

.text-secondary {
  background-color: transparent;
  color: var(--color-secondary);
}

.text-tertiary {
  background-color: transparent;
  color: var(--color-tertiary);
}


/* size */
.small {
  height: 32px;
  padding: 0 12px;
  font-size: var(--font-size-sm);
}

.medium {
  height: var(--input-height);
  padding: 0 16px;
  font-size: var(--font-size-base);
}

.large {
  height: 52px;
  padding: 0 20px;
  font-size: 16px;
}


/* full */
.full{
  flex: 1;
  width: 100%;
}

/* round */
.round{
  padding: 0 24px;
  border-radius: 52px;
}






/* close button */
.buttonClose{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.buttonCloseIcon svg{
  width: 24px;
  height: 24px;
}


/* icon button */
.buttonIcon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.iconPrimary{
  color: var(--color-primary);
}

.iconSecondary{
  color: var(--color-secondary);
}

.iconTertiary{
  color: var(--color-tertiary);
}

.iconTextLight{
  color: var(--color-text-light);
}



/* buttonQuestion */
.buttonQuestion{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-image: url('/images/icon/button_question.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
}



