
.TabsWrapper{
  position: relative;
  padding-top: 33px;

}


.tabNav{
  position: absolute;
  top: 0;
  height: 34px;
  border: 1px solid var(--border-color);
  border-radius: 16px 16px 0 0;
  border-bottom-width: 0;
  overflow: hidden;
  z-index: 2;
}



.tabNavItem{
  display: inline-flex;
  align-items: center;
  padding: 0 var(--spacing-md);
  height: 100%;
  font-weight: 600;
  color: var(--color-text-inverse);
  background-color: var(--border-color);
}

.active{
  color: var(--color-text-primary);
  background-color: var(--color-surface);
}


.tabContent{
  position: relative;
}

.tabContent::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-surface);
  z-index: 1;
  border-left: 1px solid var(--border-color);
}

