
.wrapper{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}



.listHeader{
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 0;
}

.type{
  flex: 1;
}

.list{
  border-top: 1px solid var(--color-text-secondary);
  border-bottom: 1px solid var(--color-text-secondary);
}

/* item */

.item{
  display: flex;
  gap: var(--spacing-box-inner);
  padding: 10px;
}

.item:not(:first-child){
  border-top: 1px dashed var(--color-text-secondary);
}

.foodName{
  flex: 1;
}

.unitCalorie{
  text-align: right;
  color: var(--color-text-secondary);
}

.unitCalorie strong{
  font-weight: 700;
  color: var(--color-primary);
}
